<!DOCTYPE html>
<html lang="ru">
	<head>
		<title>Категория {{ category_name }}</title>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<link rel="stylesheet" href="{{ asset('bundles/app/css/main.css') }}">
	</head>
	<body>
		<h1>Категория {{ category_name }}</h1>
		<div class="category_products">
			{% for product in products %}
				<div>
					<a href="{{ path('product', {product_name: product.name}) }}">{{ product.name }}</a>
				</div>
			{% endfor %}
		</div>
	</body>
</html>
