<!DOCTYPE html>
<html lang="ru">
	<head>
		<title>Главная</title>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<link rel="stylesheet" href="{{ asset('bundles/app/css/main.css') }}">
	</head>
	<body>
		<div class="products">
			Товары:
			<br />
			{% for product in products %}
				<div class="product">
					<a href="{{ path('product', {product_name: product.name}) }}">{{ product.name }}</a>
				</div>
			{% endfor %}
		</div>
		<div class="categories">
			Категории:
			<br />
			{% for category in categories %}
				<div class="category">
					<a href="{{ path('category', {category_name: category.name}) }}">{{ category.name }}</a>
				</div>
			{% endfor %}
		</div>
	</body>
</html>
